In [1]:
import numpy as np
import pandas as pd

In [2]:
monthly = pd.read_csv('../alt_data/monthly_data.csv')
quarterly = pd.read_csv('../alt_data/quarter_data.csv')

In [5]:
monthly['DATE'] = pd.to_datetime(monthly['DATE'])

In [6]:
quarterly['DATE'] = pd.to_datetime(quarterly['DATE'])

In [7]:
monthly.set_index('DATE', inplace=True)

In [8]:
quarterly.set_index('DATE', inplace=True)

In [11]:
monthly.shape

(890, 22)

In [12]:
quarterly.shape

(296, 5)

In [9]:
merged = pd.merge(monthly, quarterly, how='left', left_index=True, right_index=True)

In [10]:
merged.shape

(890, 27)

In [13]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 890 entries, 1947-01-01 to 2021-02-01
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   avg_weeks_unemployed           878 non-null    float64
 1   cont_claims_insur_unemploy     650 non-null    float64
 2   full_employ_level              878 non-null    float64
 3   part_employ_level              878 non-null    object
 4   not_in_labor_force             878 non-null    object
 5   gov_unemp_insur                746 non-null    float64
 6   labor_particip_women           878 non-null    float64
 7   labor_particip_men             878 non-null    float64
 8   labor_particip_total           878 non-null    float64
 9   real_estate_loans              890 non-null    float64
 10  consumer_loans                 890 non-null    float64
 11  commerc_indust_loans           890 non-null    float64
 12  m1_real                        746 non-null    float64
 13  unemp_less_five_weeks          878 non-null    float64
 14  unemp_5_to_14_wks              878 non-null    float64
 15  unemp_15_to_26_wks             878 non-null    float64
 16  unemp_over_27_wks              878 non-null    float64
 17  personal_consum_exp            746 non-null    float64
 18  personal_save_rate             746 non-null    float64
 19  emp_pop_ratio                  878 non-null    float64
 20  unemploy_rate                  878 non-null    float64
 21  insured_unemploy_rate          878 non-null    object
 22  corp_profit_aftertax_without   296 non-null    float64
 23  corp_profit_aftertax_with      296 non-null    float64
 24  corp_profit_beforetax_without  296 non-null    float64
 25  fed_debt_precent_gdp           220 non-null    float64
 26  m1_velocity                    248 non-null    float64
dtypes: float64(24), object(3)
memory usage: 227.0+ KB

In [19]:
merged.head(20)

,avg_weeks_unemployed,cont_claims_insur_unemploy,full_employ_level,part_employ_level,not_in_labor_force,gov_unemp_insur,labor_particip_women,labor_particip_men,labor_particip_total,real_estate_loans,...,personal_consum_exp,personal_save_rate,emp_pop_ratio,unemploy_rate,insured_unemploy_rate,corp_profit_aftertax_without,corp_profit_aftertax_with,corp_profit_beforetax_without,fed_debt_precent_gdp,m1_velocity
DATE,,,,,,,,,,,,,,,,,,,,,
1947-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7960,...,NaN,NaN,NaN,NaN,NaN,21.970,9.959,33.466,NaN,NaN
1947-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9551,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1249,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2966,...,NaN,NaN,NaN,NaN,NaN,20.788,13.603,31.668,NaN,NaN
1947-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.4699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.8092,...,NaN,NaN,NaN,NaN,NaN,20.564,13.868,31.288,NaN,NaN
1947-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.9809,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3174,...,NaN,NaN,NaN,NaN,NaN,22.451,14.455,34.123,NaN,NaN
1947-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.6428,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948-01-01,8.9,NaN,58061.0,.,.,NaN,32.0,86.7,58.6,8.8194,...,NaN,NaN,56.6,3.4,.,23.739,17.971,35.747,NaN,NaN
1948-02-01,8.4,NaN,58196.0,.,.,NaN,32.4,87.0,58.9,8.9518,...,NaN,NaN,56.7,3.8,.,NaN,NaN,NaN,NaN,NaN
1948-03-01,8.7,NaN,57671.0,.,.,NaN,32.1,86.3,58.5,9.0946,...,NaN,NaN,56.1,4.0,.,NaN,NaN,NaN,NaN,NaN
1948-04-01,8.5,NaN,58291.0,.,.,NaN,33.0,86.6,59.0,9.2382,...,NaN,NaN,56.7,3.9,.,24.941,19.109,37.589,NaN,NaN
1948-05-01,9.1,NaN,57854.0,.,.,NaN,32.0,86.1,58.3,9.3782,...,NaN,NaN,56.2,3.5,.,NaN,NaN,NaN,NaN,NaN
1948-06-01,8.8,NaN,58743.0,.,.,NaN,33.4,86.6,59.2,9.5132,...,NaN,NaN,57.0,3.6,.,NaN,NaN,NaN,NaN,NaN
1948-07-01,8.6,NaN,58968.0,.,.,NaN,33.4,86.7,59.3,9.6263,...,NaN,NaN,57.1,3.6,.,24.551,18.762,36.959,NaN,NaN
1948-08-01,8.8,NaN,58456.0,.,.,NaN,32.7,86.7,58.9,9.7141,...,NaN,NaN,56.6,3.9,.,NaN,NaN,NaN,NaN,NaN

In [17]:
# merged.to_csv('../alt_data/merged_data.csv', index=False)